<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id='container'>
        <div id='text'>
            <h1>Welcome,{{request.session.user_firstName}}!</h1>
        </div>
        <div id='button'>
            <a href='/logout'>Log Out</a>
        </div>
        <div id='edit'>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/edit/{{book.id}}" method="POST">
                {% csrf_token %}
                Title:<input type="text" name="title" placeholder='{{book.title}}' /><br />
                <p>Added by: {{book.uploader.first_name}}</p>
                <p>Added on: {{book.created_at}}</p>
                <p>Last updated on: {{book.updated_at}}</p>
                <p>Description: </p>
                <textarea  cols='32' rows='6' name='description' placeholder="{{book.description}}"></textarea><br/>
                <input type="submit" value="Update" />
                <a href='/delete/{{book.id}}'>Delete</a>
            </form>
        </div>
        <div id='Liked_books'>
            <h1>Users Who Like This Book: </h1>
            {% for user in book.favorites.all %}
                <p>{{user.first_name}} {{user.last_name}}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>